{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
            {% for antelope in antelopes %}
                <tr>
                    <td>{{ antelope.idAntelope }}</td>
                    <td>{{ antelope.name  }}</td>
                    <td>{{ antelope.color }}</td>
                    <td>{{ antelope.age }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}





To interact with the database and retrieve entities.
find()
A Data Transfer Object (DTO)
From the writer in the business layer.
In the factory.
To create instances of business objects like readers and writers.
The communication layer.
indexAction()


